html{
    scroll-behavior: smooth;
    scrollbar-width: normal;
    scrollbar-color: #777 #5555;
    border-radius: 10px;
}

html::-webkit-scrollbar{
    width: 12px;
    height: 2px
}

html::-webkit-scrollbar-thumb{
    background:  linear-gradient( #000c5294 ,rgb(0, 0, 255) );
    border-radius: 6px;

}

html::-webkit-scrollbar-track{
    background:  linear-gradient( #000c5294 ,rgb(0, 0, 255) );
}

body{
    background-color: #191919;
    color: #fff;
}

p{
    align-items: center;
    width: 50%;
}